# Configuration file

####################
# crafting
####################

crafting {
    B:"Armor Plating"=true
    B:"Potato Jetpack"=true

    # When enabled, most jetpacks are not directly craftable, but only by upgrading previous tiers.
    B:"Upgrading Recipes Only"=false
}


####################
# gui
####################

gui {
    B:"Enable energy HUD"=true
    B:"Hide Tuberous Jetpack warning"=false
    B:"Hold Shift for details"=true
    B:"Show exact amount of RF in energy HUD"=false
}


####################
# item
####################

item {
    I:components=8341
    I:jetpackArmoredTier1=8330
    I:jetpackArmoredTier2=8331
    I:jetpackArmoredTier3=8332
    I:jetpackArmoredTier4=8333
    I:jetpackCreative=8340
    I:jetpackTier0=8320
    I:jetpackTier1=8321
    I:jetpackTier2=8322
    I:jetpackTier3=8323
    I:jetpackTier4=8324
    I:particleCustomizers=8342
}


####################
# itemconfig
####################

itemconfig {
    B:"Enable jetpack particles"=true
    B:"Invert Hover Mode sneaking behavior"=false

    # Disabled by default because some mods like Morph cause problems with it, only enable if you know what you're doing
    B:"Mobs can use jetpacks when equipped"=false
}


