# Configuration file

####################
# general
####################

general {
    # Spawn frenquency multiplier for Better Algae. (0.0 - 1.0)
    S:algaePopulation=0.3

    # Height multiplier for Better Grass. (0.0 - 1.0)
    S:averageGrassHeight=0.5

    # Brightness multiplier of Better Algae. (0.0 - 1.0)
    S:betterAlgaeBrightness=1.0

    # Brightness multiplier of Better Grass. (0.0 - 1.0)
    S:betterGrassBrightness=1.0

    # Brightness multiplier of Better Leaves. (0.0 - 1.0)
    S:betterLeavesBrightness=1.0

    # Brightness multiplier of Better Reed. (0.0 - 1.0)
    S:betterReedBrightness=1.0

    # The listed block IDs won't be altered by the mod. (e.g. blackList=10, 20, 30)
    S:blackList=

    # Brightness multiplier of vanilla grass cubes. (0.0 - 1.0)
    S:blockGrassBrightness=1.0

    # Brightness multiplier of vanilla leaf cubes. (0.0 - 1.0)
    S:blockLeavesBrightness=1.0

    # Which grass renderer should be used? (Standard, Experimental)
    S:currentGrassRenderer=Standard

    # Which leaves renderer should be used? (Standard, Experimental)
    S:currentLeavesRenderer=Standard

    # Which Seaweed renderer should be used? (Standard)
    S:currentSeaweedRenderer=Standard

    # Force rotate grass top textures for a more natural look (can break texturepack patterns)? (OFF, ON)
    S:forceNaturalGrassTextures=Off

    # Force rotate leaf textures for a more natural look (can break texturepack patterns)? (OFF, ON)
    S:forceNaturalLeafTextures=Off

    # Fallback to default textures in case the current resourcepack doesn't include all textures (deactivates the auto generator)? (OFF, ON)
    S:ignoreResourcepackDomain=Off

    # Falling Leaves spawn rate multiplier. (0.0 - 1.0)
    S:leavesFXSpawnRate=0.5

    # Spawn frenquency multiplier for Better Lily Pads. (0.0 - 1.0)
    S:lilyPadFlowerPopulation=0.2

    # Spawn frenquency multiplier for Better Reed. (0.0 - 1.0)
    S:reedPopulation=0.4

    # Render Better Grass? (OFF, ON)
    S:renderBetterGrass=On

    # Render Better Leaves? (OFF, ON)
    S:renderBetterLeaves=On

    # Render Better Lily Pads? (OFF, ON)
    S:renderBetterLilyPads=On

    # Render Better Netherrack? (OFF, ON)
    S:renderBetterNetherrack=On

    # Render Better Seaweed? (OFF, ON)
    S:renderBetterSeaweed=On

    # Render footprints effect? (OFF, Fast, Fancy)
    S:renderFootprintsFX=Fancy

    # Render walking through grass effect? (OFF, Fast, Fancy)
    S:renderGrassFX=Fancy

    # Render Better Grass Sides? (OFF, ON)
    S:renderGrassSides=On

    # Render the old cube like leaves? (OFF, ON)
    S:renderLeafBlocks=On

    # Render falling leaves effect? (OFF, Fast, Fancy)
    S:renderLeavesFX=Fast

    # Render Better Grass Snowed? (OFF, ON)
    S:renderSnowedGrass=On

    # Render Better Leaves Snowed? (OFF, ON)
    S:renderSnowedLeaves=On

    # Rising Souls spawn rate. (0.0 - 1.0)
    S:soulsFXSpawnRate=0.2

    # Use Forge based register icons hook (won't work with MCPatcher)? (OFF, ON)
    S:useRegisterIconsHook=Off

    # Use rounded versions of the vanilla leaf textures? (OFF, ON)
    S:useRoundedVanillaLeaves=On

    # The listed texture names will be linked to an auto generated Better Leaves icon, which will then be used as texture fallback. (e.g. whiteList=leaves_oak, leaves_spruce, leaves_birch)
    S:whiteList=
}


