# Configuration file

####################
# 1- id's
####################

"1- id's" {
    I:axeGelidEnderium=8515
    I:battleWrenchGelidEnderium=8516
    I:gelidEnderiumBlock=2735
    I:materialGelidEnderium=8514
    I:pickaxeGelidEnderium=8517
    I:shovelGelidEnderium=8518
    I:sickleGelidEnderium=8519
    I:swordGelidEnderium=8520
}


####################
# 2 - general
####################

"2 - general" {
    # Enable registry of the Gelid Enderium Axe. False removes it from the game entirely.
    B:enableEnderiumAxe=true

    # Enable crafting of the Gelid Enderium Axe
    B:enableEnderiumAxeCrafting=true

    # Enable registry of the Gelid Enderium BattleWrench. False removes it from the game entirely.
    B:enableEnderiumBattleWrench=true

    # Enable crafting of the Gelid Enderium BattleWrench
    B:enableEnderiumBattleWrenchCrafting=true

    # Enable registry of the Gelid Enderium Pickaxe. False removes it from the game entirely.
    B:enableEnderiumPickaxe=true

    # Enable crafting of the Gelid Enderium Pickaxe
    B:enableEnderiumPickaxeCrafting=true

    # Enable registry of the Gelid Enderium Shovel. False removes it from the game entirely.
    B:enableEnderiumShovel=true

    # Enable crafting of the Gelid Enderium Shovel
    B:enableEnderiumShovelCrafting=true

    # Enable registry of the Gelid Enderium Sickle. False removes it from the game entirely.
    B:enableEnderiumSickle=true

    # Enable crafting of the Gelid Enderium Sickle
    B:enableEnderiumSickleCrafting=true

    # Enable registry of the Gelid Enderium Sword. False removes it from the game entirely.
    B:enableEnderiumSword=true

    # Enable crafting of the Gelid Enderium Sword
    B:enableEnderiumSwordCrafting=true
}


####################
# 3 - abilities
####################

"3 - abilities" {
    # Disables a main feature of the axe - Summoning lightning on right clicking a block.
    B:disableAxeLightning=false

    # Disables a main feature of the axe - Breaking a large area of wood materials.
    B:disableAxeMultiBreak=false

    # Disables a main feature of the axe - Clearing weather when stormy/rainy.
    B:disableAxeWeatherClear=false

    # Disables a main feature of the battle wrench - Spin attack
    B:disableBattleWrenchSpin=false

    # Disables a main feature of the pickaxe - Moving a 3x3 of blocks instead of breaking them.
    B:disablePickaxeEnderDislocation=false

    # Disables a main feature of the shovel - Acting like bonemeal on right-click
    B:disableShovelBonemeal=false

    # Disables a main feature of the shovel - Breaking a large area of ground materials.
    B:disableShovelMultiBreak=false

    # Disables a main feature of the sword - Magnet mode while blocking.
    B:disableSwordSuckage=false
}


