# Configuration file

####################
# block
####################

block {
    I:battery=1213
    I:castingMold=1224
    I:conveyorBelt=1204
    I:crate=1218
    I:detector=1206
    I:dust=1201
    I:engineeringTable=1217
    I:filter=1233
    I:firebox=1221
    I:generator=1215
    I:grate=1232
    I:grindingWheel=1209
    I:gutter=1231
    I:hotPlate=1222
    I:imprinter=1219
    I:machineMaterial=1200
    I:manipulator=1205
    I:mechanicalPiston=1211
    I:millstone=1223
    I:mixer=1210
    I:mixture_aluminium=1260
    I:mixture_aluminium_brass=1303
    I:mixture_aluminum=1293
    I:mixture_aluminum_brass=1291
    I:mixture_alumite=1238
    I:mixture_ardite=1289
    I:mixture_bronze=1236
    I:mixture_cobalt=1301
    I:mixture_copper=1252
    I:mixture_electrum=1264
    I:mixture_enderium=1311
    I:mixture_gold=1305
    I:mixture_invar=1262
    I:mixture_iridium=1295
    I:mixture_iron=1250
    I:mixture_lead=1244
    I:mixture_manyullyn=1254
    I:mixture_meteoric_iron=1299
    I:mixture_naquadah_alloy=1246
    I:mixture_nickel=1248
    I:mixture_obsidian=1297
    I:mixture_osmium=1309
    I:mixture_pig_iron=1307
    I:mixture_platinum=1274
    I:mixture_refined_glowstone=1270
    I:mixture_refined_obsidian=1242
    I:mixture_silver=1256
    I:mixture_steel=1268
    I:mixture_thaumium=1240
    I:mixture_tin=1266
    I:mixture_unstable=1272
    I:mixture_uranium=1258
    I:molten_aluminium=1259
    I:molten_aluminium_brass=1302
    I:molten_aluminum=1292
    I:molten_aluminum_brass=1290
    I:molten_alumite=1237
    I:molten_ardite=1288
    I:molten_bronze=1235
    I:molten_cobalt=1300
    I:molten_copper=1251
    I:molten_electrum=1263
    I:molten_enderium=1310
    I:molten_gold=1304
    I:molten_invar=1261
    I:molten_iridium=1294
    I:molten_iron=1249
    I:molten_lead=1243
    I:molten_manyullyn=1253
    I:molten_meteoric_iron=1298
    I:molten_naquadah_alloy=1245
    I:molten_nickel=1247
    I:molten_obsidian=1296
    I:molten_osmium=1308
    I:molten_pig_iron=1306
    I:molten_platinum=1273
    I:molten_refined_glowstone=1269
    I:molten_refined_obsidian=1241
    I:molten_silver=1255
    I:molten_steel=1267
    I:molten_thaumium=1239
    I:molten_tin=1265
    I:molten_unstable=1271
    I:molten_uranium=1257
    I:motor=4095
    I:pump=1208
    I:solarPanel=1214
    I:sorter=1207
    I:tank=1234
    I:tesla=1212
    I:thermopile=1216
    I:turntable=1220
    I:waterTurbine=1203
    I:windTurbine=1202
}


####################
# enabled_list
####################

enabled_list {
    B:Enabled_charger=true
    B:Enabled_disk=true
    B:Enabled_gear=true
    B:Enabled_gearShaft=true
    B:Enabled_hammer=true
    B:Enabled_handCrank=true
    B:Enabled_imprint=true
    B:Enabled_levitator=true
    B:Enabled_multimeter=true
    B:Enabled_pipe=true
    B:Enabled_quantumGlyph=true
    B:Enabled_transformer=true
    B:Enabled_wire=true
}


####################
# general
####################

general {
    I:BlockIDPrefix=1200
    B:"Engineering Table Autocraft"=true
    I:ItemIDPrefix=20150
    D:"Levitator Acceleration"=0.02
    I:"Levitator Max Reach"=40
    D:"Levitator Max Speed"=0.2
    I:"Levitator Push Delay"=5
    I:"Max EM Contractor Path"=200
    B:"Shiny silver Wires"=true
    B:"Tesla Sound FXs"=true
}


####################
# item
####################

item {
    I:bucketMixture=20153
    I:bucketMolten=20154
    I:charger=20161
    I:disk=20163
    I:gear=20155
    I:gearShaft=20156
    I:hammer=20167
    I:handCrank=20165
    I:imprint=20166
    I:insulation=31743
    I:levitator=20162
    I:multimeter=20159
    I:oreDust=20151
    I:oreRefinedDust=20152
    I:oreRubble=20150
    I:pipe=20157
    I:quantumGlyph=20164
    I:transformer=20160
    I:wire=20158
}


####################
# resource_generator
####################

resource_generator {
    B:"Enable Aluminium"=true
    B:"Enable AluminiumBrass"=true
    B:"Enable Aluminum"=true
    B:"Enable AluminumBrass"=true
    B:"Enable Alumite"=true
    B:"Enable Ardite"=true
    B:"Enable Bronze"=true
    B:"Enable Cobalt"=true
    B:"Enable Copper"=true
    B:"Enable Desh"=true
    B:"Enable Electrum"=true
    B:"Enable Enderium"=true
    B:"Enable Gold"=true
    B:"Enable Invar"=true
    B:"Enable Iridium"=true
    B:"Enable Iron"=true
    B:"Enable Lead"=true
    B:"Enable Manyullyn"=true
    B:"Enable MeteoricIron"=true
    B:"Enable NaquadahAlloy"=true
    B:"Enable Nickel"=true
    B:"Enable Obsidian"=true
    B:"Enable Osmium"=true
    B:"Enable PigIron"=true
    B:"Enable Platinum"=true
    B:"Enable RefinedGlowstone"=true
    B:"Enable RefinedIron"=true
    B:"Enable RefinedObsidian"=true
    B:"Enable Silver"=true
    B:"Enable Steel"=true
    B:"Enable Thaumium"=true
    B:"Enable Tin"=true
    B:"Enable Unstable"=true
    B:"Enable Uranium"=true
}


