# Configuration file

####################
# cfg
####################

cfg {
    ####################
    # client
    #===================
    # Client Side options that affect key handling and rendering.
    ####################

    client {
    }

    ####################
    # server
    #===================
    # Server Side options that affect game logic
    ####################

    server {
    }

}


####################
# ids
####################

ids {
    ####################
    # blocks
    #===================
    # ID Values for blocks.
    ####################

    blocks {
        I:invisible=1006
        I:lanteanWall=1007
        I:naquadahCapacitor=1000
        I:naquadahOre=1004
        I:naquadahRail=1003
        I:particleIonizer=433
        I:shield=434
        I:shieldEmitter=432
        I:transportRing=1005
    }

    ####################
    # items
    #===================
    # ID Values for items.
    ####################

    items {
        I:naquadah=5006
        I:naquadahIngot=25001
        I:personalShield=25002
        I:tabletPC=25000
    }

}


####################
# plugins
#===================
# Configuration values for Integration Plugins.
####################

plugins {
    ####################
    # industrialcraft2
    ####################

    industrialcraft2 {
        B:enable=true
    }

}


