# Configuration file

####################
# mob blacklist
####################

"mob blacklist" {
    B:AWWayofTime.AirElemental=false
    B:AWWayofTime.BileDemon=false
    B:AWWayofTime.BoulderFist=false
    B:AWWayofTime.EarthElemental=false
    B:AWWayofTime.FallenAngel=false
    B:AWWayofTime.FireElemental=false
    B:AWWayofTime.HolyElemental=false
    B:AWWayofTime.IceDemon=false
    B:AWWayofTime.LowerGuardian=false
    B:AWWayofTime.Shade=false
    B:AWWayofTime.ShadeElemental=false
    B:AWWayofTime.SmallEarthGolem=false
    B:AWWayofTime.TestDemon=false
    B:AWWayofTime.WaterElemental=false
    B:AWWayofTime.WingedFireDemon=false
    B:Abomination=false
    B:"Air Guardian"=false
    B:"Alien Villager"=false
    B:AlienVillager=false
    B:"Angry Bees"=false
    B:"Angry Enderman"=false
    B:"Angry Zombie"=false
    B:"Arcane Guardian"=false
    B:"Automated Terminator Prototype"=false
    B:"Baba Yaga"=false
    B:"Baby Enderman"=false
    B:"Baby Heatscar Spider"=false
    B:"Baddass Minotaur"=false
    B:Bait=false
    B:Banshee=false
    B:"Battle Chicken"=false
    B:"Beslun, the Ender Eye"=false
    B:"Bighorn Sheep"=false
    B:BiomesOPlenty.Bird=false
    B:BiomesOPlenty.Glob=false
    B:BiomesOPlenty.JungleSpider=false
    B:BiomesOPlenty.Phantom=false
    B:BiomesOPlenty.Pixie=false
    B:BiomesOPlenty.Rosester=false
    B:BiomesOPlenty.Wasp=false
    B:Bird=false
    B:"Black Chocobo"=false
    B:Blaze=false
    B:Blizz=false
    B:"Block and Chain Goblin"=false
    B:"Blue Chocobo"=false
    B:"Blue Slime"=false
    B:Body=false
    B:"Boggard [NYI]"=false
    B:"Bohe, the Ender Eye"=false
    B:"Boluvo, the Ender Eye"=false
    B:"Byjeva, the Ender Eye"=false
    B:"Carminite Broodling"=false
    B:"Carminite Ghastguard"=false
    B:"Carminite Ghastling"=false
    B:"Carminite Golem"=false
    B:Cat=false
    B:"Cave Spider"=false
    B:CaveSpider=false
    B:Chicken=false
    B:Chicobo=false
    B:"Chu Chu"=false
    B:"Cold Chicken"=false
    B:"Cold Cow"=false
    B:"Cold Pig"=false
    B:"Cost, the Ender Eye"=false
    B:"Coven Witch"=false
    B:Cow=false
    B:Creeper=false
    B:"Creeper Cow"=false
    B:"Creeper Tot"=false
    B:CreeperBoss=false
    B:"Cuja, the Ender Eye"=false
    B:"Dark Mage"=false
    B:Darkling=false
    B:Death=false
    B:"Death Tome"=false
    B:"Democu, the Ender Eye"=false
    B:Demon=false
    B:"Dlaslynik, the Fire Fiend"=false
    B:"Dros, the Ender Eye"=false
    B:"Drusl, the Ender Eye"=false
    B:Dryad=false
    B:Dwarf=false
    B:"Dwarf Defender"=false
    B:"Dwarf Engineer"=false
    B:"Dwarf Healer"=false
    B:"Earth Elemental"=false
    B:"Earth Guardian"=false
    B:"Ender Demon"=false
    B:"Ender Guardian"=false
    B:"Ender Squid"=false
    B:"Ender Tot"=false
    B:EnderDragon=false
    B:Enderman=false
    B:"Enderman Healer"=false
    B:"Enderman Ninja"=false
    B:"Enderman bd.berseker"=false
    B:Enderslime=false
    B:Ent=false
    B:EntityHorse=false
    B:"Evolved Creeper"=false
    B:"Evolved Creeper Boss"=false
    B:"Evolved Skeleton"=false
    B:"Evolved Skeleton Boss"=false
    B:"Evolved Spider"=false
    B:"Evolved Zombie"=false
    B:EvolvedBlaze=false
    B:EvolvedCreeper=false
    B:EvolvedSkeleton=false
    B:EvolvedSkeletonBoss=false
    B:EvolvedSlime=false
    B:EvolvedSpider=false
    B:EvolvedZombie=false
    B:Fairy=false
    B:"Fire Beetle"=false
    B:"Fire Elemental"=false
    B:"Fire Golem"=false
    B:"Fire Guardian"=false
    B:Firebat=false
    B:Firefly=false
    B:"Fivilekla, the Fire Fiend"=false
    B:"Flame Imp"=false
    B:"Forest Bunny"=false
    B:"Forest Raven"=false
    B:"Forest Squirrel"=false
    B:Forestry.butterflyGE=false
    B:"Furious Zombie"=false
    B:Ghast=false
    B:Ghost=false
    B:"Giant Slime"=false
    B:"Giant Turtle"=false
    B:Glob=false
    B:Goblin=false
    B:"Goblin Defender"=false
    B:"Goblin Healer"=false
    B:"Gold Chocobo"=false
    B:Golem=false
    B:"Golem Healer"=false
    B:"Golem Spearman"=false
    B:Gotterfunken=false
    B:"Green Chocobo"=false
    B:Gremlin=false
    B:"Gremlin Defender"=false
    B:"Gremlin Shaman"=false
    B:"Hatetr, the Fire Fiend"=false
    B:"Heatscar Spider"=false
    B:Hecate=false
    B:"Hecek, the Ender Eye"=false
    B:"Hedge Spider"=false
    B:"Hell Cow"=false
    B:Hellfish=false
    B:"Helmet Crab"=false
    B:"Horned Huntsman"=false
    B:Horse=false
    B:"Hostile Wolf"=false
    B:Hydra=false
    B:"Hydra Head"=false
    B:"ICBM Turret Seat"=false
    B:"Ice Bull"=false
    B:Imp=false
    B:"Infested Bat"=false
    B:"Iron Golem"=false
    B:"Jowe, the Ender Eye"=false
    B:"Jungle Spider"=false
    B:"King Spider"=false
    B:"Klit, the Ender Eye"=false
    B:"Knight Phantom [WIP]"=false
    B:Kobold=false
    B:"Kros, the Ender Eye"=false
    B:"Kyryha, the Ender Eye"=false
    B:"Laba, the Ender Eye"=false
    B:LavaSlime=false
    B:"Levyj, the Fire Fiend"=false
    B:"Libosk, the Ender Eye"=false
    B:Lich=false
    B:"Lich Minion"=false
    B:"Light Mage"=false
    B:Linkbook=false
    B:"Lord of Torment"=false
    B:"Lower Goblin Knight"=false
    B:"Loyal Zombie"=false
    B:"Lubac, the Ender Eye"=false
    B:Luggage=false
    B:"Lutrepre, the Fire Fiend"=false
    B:"Mage Villager"=false
    B:"Magma Cube"=false
    B:"Mana Creeper"=false
    B:"Mana Elemental"=false
    B:Mandrake=false
    B:"Maze Slime"=false
    B:Minedrake=false
    B:"Mini Me"=false
    B:Minoshroom=false
    B:Minotaur=false
    B:"Minotaur Healer"=false
    B:"Mist Wolf"=false
    B:"Mobe, the Ender Eye"=false
    B:Monkey=false
    B:"Monkey Defender"=false
    B:"Monkey Grenadier"=false
    B:"Monkey Healer"=false
    B:"Monkey bd.berseker"=false
    B:Monking=false
    B:Mooshroom=false
    B:"Morepi, the Ender Eye"=false
    B:Morsmordre=false
    B:"Mosquito Swarm"=false
    B:"Mowisep, the Fire Fiend"=false
    B:"Mudisereb, the Fire Fiend"=false
    B:MushroomCow=false
    B:Naga=false
    B:"Nature Guardian"=false
    B:"Ncas, the Ender Eye"=false
    B:Necromancer=false
    B:"Nether Dragon"=false
    B:"Ngebykoj, the Fire Fiend"=false
    B:Nightmare=false
    B:"Nitro Creeper"=false
    B:"Noplakram, the Fire Fiend"=false
    B:Ogre=false
    B:"Ogre Defender"=false
    B:"Ogre Healer"=false
    B:"Ogre Hooker"=false
    B:OpenBlocks.Luggage=false
    B:OpenBlocks.MiniMe=false
    B:Orc=false
    B:Owl=false
    B:Ozelot=false
    B:"Palek, the Fire Fiend"=false
    B:"Paralyzed Enderman"=false
    B:"Parasytic Louse"=false
    B:Penguin=false
    B:"Pezaj, the Ender Eye"=false
    B:Phantom=false
    B:Pig=false
    B:"Pig Mage"=false
    B:"Pig Zombie"=false
    B:"Pig Zombie Healer"=false
    B:"Pig Zombie Hooker"=false
    B:PigZombie=false
    B:"Pilang, the Fire Fiend"=false
    B:"Pinch Beetle"=false
    B:"Pink Chocobo"=false
    B:"Pink Slime"=false
    B:"Piramo, the Fire Fiend"=false
    B:Pirate=false
    B:"Pirate Captain"=false
    B:"Pirate bd.berseker"=false
    B:Pixie=false
    B:"Plocos, the Ender Eye"=false
    B:Poltergeist=false
    B:"Pomo, the Ender Eye"=false
    B:"Prekuj, the Ender Eye"=false
    B:"Purple Chocobo"=false
    B:"Questing Ram"=false
    B:"Rabe, the Ender Eye"=false
    B:"Red Chocobo"=false
    B:Redcap=false
    B:"Redcap Sapper"=false
    B:Robit=false
    B:"Ronga, the Ender Eye"=false
    B:Rosester=false
    B:"Scorching Lens"=false
    B:Seat=false
    B:"Sesin, the Ender Eye"=false
    B:Sheep=false
    B:Shelob=false
    B:Shoggoth=false
    B:Skeleton=false
    B:"Skeleton Druid"=false
    B:"Skeleton Healer"=false
    B:Slime=false
    B:"Slime Beetle"=false
    B:Slimeling=false
    B:Sludgeling=false
    B:"Snow Goblin"=false
    B:"Snow Goblin Bannerman"=false
    B:"Snow Goblin Defender"=false
    B:"Snow Goblin Grenadier"=false
    B:"Snow Goblin Healer"=false
    B:"Snow Goblin Ninja"=false
    B:"Snow Goblin Spearman"=false
    B:"Snow Golem"=false
    B:SnowMan=false
    B:Specter=false
    B:"Specter Defender"=false
    B:"Specter Grenadier"=false
    B:"Specter Lord"=false
    B:"Spectral Familiar"=false
    B:Spectre=false
    B:Spider=false
    B:Spirit=false
    B:Squid=false
    B:"Straw Golem"=false
    B:"Summoned Undead"=false
    B:"Swarm Spider"=false
    B:TConstruct.Crystal=false
    B:TConstruct.EdibleSlime=false
    B:"Tafled, the Fire Fiend"=false
    B:"Taint Spore"=false
    B:"Taint Spore Swarmer"=false
    B:"Taint Swarm"=false
    B:"Taint Tendril"=false
    B:Taintacle=false
    B:"Tainted Chicken"=false
    B:"Tainted Cow"=false
    B:"Tainted Crawler"=false
    B:"Tainted Creeper"=false
    B:"Tainted Pig"=false
    B:"Tainted Sheep"=false
    B:"Tainted Villager"=false
    B:"Terminator Prototype"=false
    B:Thaumcraft.BrainyZombie=false
    B:Thaumcraft.Firebat=false
    B:Thaumcraft.GiantBrainyZombie=false
    B:Thaumcraft.Golem=false
    B:Thaumcraft.Pech=false
    B:Thaumcraft.TaintSpider=false
    B:Thaumcraft.TaintSpore=false
    B:Thaumcraft.TaintSwarm=false
    B:Thaumcraft.TaintSwarmer=false
    B:Thaumcraft.Taintacle=false
    B:Thaumcraft.TaintacleTiny=false
    B:Thaumcraft.TaintedChicken=false
    B:Thaumcraft.TaintedCow=false
    B:Thaumcraft.TaintedCreeper=false
    B:Thaumcraft.TaintedPig=false
    B:Thaumcraft.TaintedSheep=false
    B:Thaumcraft.TaintedVillager=false
    B:Thaumcraft.ThaumSlime=false
    B:Thaumcraft.TravelingTrunk=false
    B:Thaumcraft.Wisp=false
    B:"Thaumic Slime"=false
    B:"Timipo, the Fire Fiend"=false
    B:"Tiny Bird"=false
    B:Toad=false
    B:"Tomidl, the Ender Eye"=false
    B:"Tongyh, the Ender Eye"=false
    B:"Towerwood Borer"=false
    B:"Traveling Trunk"=false
    B:Treefyd=false
    B:"Trencetov, the Fire Fiend"=false
    B:Triton=false
    B:"Triton Healer"=false
    B:"Triton Hooker"=false
    B:"Twilight Lich"=false
    B:"Twilight Wraith"=false
    B:"Upper Goblin Knight"=false
    B:Ur-ghast=false
    B:"Vampire Bat"=false
    B:VenusianVillager=false
    B:Villager=false
    B:VillagerGolem=false
    B:"Vuvadlixo, the Fire Fiend"=false
    B:Walker=false
    B:"Walker Defender"=false
    B:"Walker Grenadier"=false
    B:"Walker King"=false
    B:"Walker bd.berseker"=false
    B:Wasp=false
    B:"Water Elemental"=false
    B:"Water Guardian"=false
    B:Werewolf=false
    B:"White Chocobo"=false
    B:"Wild Boar"=false
    B:"Wild Deer"=false
    B:"Winter Guardian"=false
    B:Wisp=false
    B:Witch=false
    B:"Witch Hunter"=false
    B:"Wither Skeleton"=false
    B:WitherBoss=false
    B:"Wooly Cow"=false
    B:"Wusti, the Ender Eye"=false
    B:"Xukred, the Ender Eye"=false
    B:"Xyra, the Ender Eye"=false
    B:"Yellow Chocobo"=false
    B:Zombie=false
    B:"Zombie Pigman"=false
    B:arsmagica2.AirSled=false
    B:arsmagica2.BattleChicken=false
    B:arsmagica2.BossAirGuardian=false
    B:arsmagica2.BossArcaneGuardian=false
    B:arsmagica2.BossEarthGuardian=false
    B:arsmagica2.BossEnderGuardian=false
    B:arsmagica2.BossFireGuardian=false
    B:arsmagica2.BossLifeGuardian=false
    B:arsmagica2.BossLightningGuardian=false
    B:arsmagica2.BossNatureGuardian=false
    B:arsmagica2.BossWaterGuardian=false
    B:arsmagica2.BossWinterGuardian=false
    B:arsmagica2.DaBroom=false
    B:arsmagica2.EarthElemental=false
    B:arsmagica2.Flicker=false
    B:arsmagica2.HellCow=false
    B:arsmagica2.MobDarkMage=false
    B:arsmagica2.MobDarkling=false
    B:arsmagica2.MobDryad=false
    B:arsmagica2.MobFireElemental=false
    B:arsmagica2.MobHecate=false
    B:arsmagica2.MobLightMage=false
    B:arsmagica2.MobMageVillager=false
    B:arsmagica2.MobManaCreeper=false
    B:arsmagica2.MobManaElemental=false
    B:arsmagica2.MobWaterElemental=false
    B:arsmagica2.RiftStorage=false
    B:arsmagica2.ThrownArm=false
    B:arsmagica2.ThrownRock=false
    B:arsmagica2.ThrownSickle=false
    B:arsmagica2.Whirlwind=false
    B:entity.AWWayofTime.AirElemental.name=false
    B:entity.AWWayofTime.BileDemon.name=false
    B:entity.AWWayofTime.BoulderFist.name=false
    B:entity.AWWayofTime.EarthElemental.name=false
    B:entity.AWWayofTime.FallenAngel.name=false
    B:entity.AWWayofTime.FireElemental.name=false
    B:entity.AWWayofTime.HolyElemental.name=false
    B:entity.AWWayofTime.IceDemon.name=false
    B:entity.AWWayofTime.LowerGuardian.name=false
    B:entity.AWWayofTime.Shade.name=false
    B:entity.AWWayofTime.ShadeElemental.name=false
    B:entity.AWWayofTime.SmallEarthGolem.name=false
    B:entity.AWWayofTime.TestDemon.name=false
    B:entity.AWWayofTime.WaterElemental.name=false
    B:entity.AWWayofTime.WingedFireDemon.name=false
    B:entity.BetterDungeons.FriendlyHuman.name=false
    B:entity.BetterDungeons.SummonedGoblin.name=false
    B:entity.BetterDungeons.goblinBoss.name=false
    B:entity.BetterDungeons.orcShaman.name=false
    B:entity.BetterDungeons.tritonBoss.name=false
    B:entity.DartCraft.entityFrozenItem.name=false
    B:entity.Forestry.butterflyGE.name=false
    B:entity.HardcoreEnderExpansion.CorporealMirage.name=false
    B:entity.HardcoreEnderExpansion.EnderMinion.name=false
    B:entity.Linkbook.name=false
    B:entity.OpenBlocks.MiniMe.name=false
    B:entity.Pech.name=false
    B:entity.Robit.name=false
    B:entity.TConstruct.Crystal.name=false
    B:entity.arsmagica2.AirSled.name=false
    B:entity.arsmagica2.DaBroom.name=false
    B:entity.arsmagica2.RiftStorage.name=false
    B:entity.arsmagica2.ThrownArm.name=false
    B:entity.arsmagica2.ThrownRock.name=false
    B:entity.arsmagica2.ThrownSickle.name=false
    B:entity.arsmagica2.Whirlwind.name=false
    B:entity.witchery.darkmark.name=false
    B:entity.witchery.eye.name=false
    B:witchery.babayaga=false
    B:witchery.cat=false
    B:witchery.corpse=false
    B:witchery.covenwitch=false
    B:witchery.demon=false
    B:witchery.ent=false
    B:witchery.eye=false
    B:witchery.familiar=false
    B:witchery.hornedHuntsman=false
    B:witchery.illusionCreeper=false
    B:witchery.illusionSpider=false
    B:witchery.illusionZombie=false
    B:witchery.louse=false
    B:witchery.mandrake=false
    B:witchery.nightmare=false
    B:witchery.owl=false
    B:witchery.toad=false
    B:witchery.treefyd=false
}


